<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
    <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap" rel="stylesheet">
      </head>  
    </head>
  <h1>Movie Dish</h1>
  <div class="container purple topBotomBordersIn">
    <a href="/quotes">QUOTES</a>
    <a href="/quotes/new">CREATE</a>
    <a href="/account">ACCOUNT</a>
    <a href="/signup">SIGN UP</a>
    <a href="/login">SIGN IN</a>
  </div>

  <div class = "content">
      <div class = "action">
    <body id="page-top">
     <% if @current_user = current_user  %>
        <h3><%= @current_user.username %> here's your Account:</h3>
        <h4 class= "list_item">Your Movie Dishes:</h4>
      <br>
        <h4><a href="/logout" class="btn btn-5">Log Out</a></h4>
      <% end %>
    </div>
</div>
  </body>
</html>