<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
    <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap" rel="stylesheet">
      </head>  
    </head>
<h1>Edit Film</h1>
<h1>Movie Dish</h1>
<div class="container purple topBotomBordersIn">
  <a>QUOTES</a>
  <a>CREATE</a>
  <a>ACCOUNT</a>
  <a>SIGN UP</a>
  <a>SIGN IN</a>
</div>
<h1>Movie Dish</h1>
<div class="container purple topBotomBordersIn">
    <a>QUOTES</a>
    <a>CREATE</a>
    <a>ACCOUNT</a>
    <a>SIGN UP</a>
    <a>SIGN IN</a>
</div>
<body>
  <form method="POST" action="/quotes/<%= @quote.id %>">
    <input type="hidden" name="_method" value="patch">
    <p>
	<label for="body">Body:</label>
	<input type="text" name="body" value="<%= @quote.body %>">
    </p>
    <p>
	<label for="author">Author:</label>
	<input type="text" name="author" value="<%= @quote.author %>">
    </p>
    <p>
	<input type="submit" value="create">
    <form action="/quotes/<%= @quote.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete" />
    <input type="submit" value="delete"/>
    </form>
    </p>
  </form>
</body>

<a href="/quotes" class="btn btn-5">back</a>

</html>