<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">  
    <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap" rel="stylesheet">
      </head>  
    </head>
  <html>
  <h1>Movie Dish</h1>
  <div class="container purple topBotomBordersIn">
      <a href="/quotes">QUOTES</a>
      <a href="/quotes/new">CREATE</a>
      <a href="/account">ACCOUNT</a>
      <a href="/signup">SIGN UP</a>
      <a href="/login">SIGN IN</a>
  </div>
  <body>
  <div class = "content">
      <div class = "action">
      <h3>Error</h3>
      <% if @errors %>
      <ul class = "item">
      <% @errors.each do |error| %>
    
        <li><%= error %></li>
      <% end %>
      </ul>
      <% end %>
      </div>
    </div>  
  </body>
</html>
