<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">  
  </head>
  <html>
  <h1>Movie Dish</h1>
  <h3>Error</h3>
<% if @errors %>
    <ul>
	<% @errors.each do |error| %>
	    <li><%= error %></li>
	<% end %>
    </ul>
<% end %>
</html>