<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>Index Quotes</title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">  
      <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">  
      </head>
    <h1>Movie Dish</h1>
    <div class="container purple topBotomBordersIn">
      <a href="/quotes">QUOTES</a>
      <a href="/quotes/new">CREATE</a>
      <a href="/account">ACCOUNT</a>
      <a href="/signup">SIGN UP</a>
      <a href="/login">SIGN IN</a>
    </div>
    <body>
    <div class = "content">
      <div class = "action">
        <h3>Hey <%= @current_user.username %>, here's what you added: </h3>
        <br>
        <ul>
            <% @quotes.each_with_index do |quote| %>
          <li>
            <a href="/quotes/<%=quote.id %>/edit" class="list_item">
            <%= quote.body %> - <%= quote.author %>
            </a>
          </li>
            <% end %>
        </ul>
        <br>
        <a href="/quotes/new" class="btn btn-5">Create</a>
        <a href="/logout" class="btn btn-5">Log Out</a>
      </div>
    </div>
    </body>
</html>