<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">  
  </head>
<h1>All Movies</h1>
<h3>Welcome, <%= @current_user.username %> </h3>
<ul>
    <% @quotes.each do |quote| %>
	<li>
	    <a href="/quotes/<%=quote.id %>/edit">
		"<%= quote.body %>" - <%= quote.author %>
	    </a>
	</li>
    <% end %>
</ul>

<a href="/quotes/new">new</a>
<a href="/logout">logout</a>
</html>


