<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css" type="text/css">  
  </head>
<h1>Add A New Film</h1>
<form method="POST" action="/quotes">
    <p>
	<label for="body">Title:</label>
	<input type="text" name="body">
    </p>
    <p>
	<label for="author">Director:</label>
	<input type="text" name="author">
    </p>
    <p>
	<input type="submit" value="create">
    </p>
</form>
</html>