<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create New</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">  
<link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap" rel="stylesheet">
</head>  

<h1>Movie Dish</h1>
<div class="container purple topBotomBordersIn">
    <a href="/quotes">QUOTES</a>
    <a href="/quotes/new">CREATE</a>
    <a href="/account">ACCOUNT</a>
    <a href="/signup">SIGN UP</a>
    <a href="/login">SIGN IN</a>
</div>
<body>
<div class = "content">

  <h3> Add Movie and Meal</h3>
  <br>
  <form method="POST" action="/quotes">
    <p>
	<label for="body" class="list_item" >Movie:</label>
	<input type="text" name="body">
    </p>
    <p>
	<label for="author" class="list_item" >Meal:</label>
	<input type="text" name="author">
    </p>
    <p>
    <br>
    </p>
  
  <input type="submit" value="Create" class="btn btn-5">
  <a href="/logout" class="btn btn-5">Log Out</a>
  </form>
  </div>
</body>


</html>
