<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css" type="text/css">  
  </head>
  <h1>Movie Dish</h1>
<h3>Add Movie and Meal</h3>
<form method="POST" action="/quotes">
    <p>
	<label for="body">Movie:</label>
	<input type="text" name="body">
    </p>
    <p>
	<label for="author">Meal:</label>
	<input type="text" name="author">
    </p>
    <p>
	<input type="submit" value="create">
    </p>
</form>
</html>