<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">  
    <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap" rel="stylesheet">
      </head>  
  </head>
  <h1>Movie Dish</h1>
  <div class="container purple topBotomBordersIn">
    <a>QUOTES</a>
    <a>CREATE</a>
    <a>ACCOUNT</a>
    <a>SIGN UP</a>
    <a>SIGN IN</a>
  </div>
  <body>
  <div class = "content">
      <h3>Create an Account</h3>
      <br>
      <form method="POST" action="/signup">
      <p>
      <label for="username" class="list_item" >Username:</label>
      <input type="text" name="username">
      </p>
      <p>
      <label for="password" class="list_item">Password:</label>
      <input type="password" name="password">
      </p>
      <p>
      <br>
      <input type="submit" value="Sign Up" class="btn btn-5">
      </p>
      </form>
      </div>
  </body>
</html>